.btn {
    font-family: 'ProximaNova', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-color);
    user-select: none;
    border: 1px solid transparent;
    + .btn {
        margin-left: 8px;
    }
    &.disable {
        pointer-events: none;
        opacity: 0.7;
    }
}

// Button Types
.primary {
    background: var(--primary-color);
    color: var(--white-color);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary-color);
    }
}
.outline {
    border-color: var(--primary-color);
    color: var(--primary-color);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.rounded {
    background: var(--white-color);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 52px;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.link {
    display: inline-block;
    color: var(--text-color);
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Button Sizes
.sizeM {
    min-width: 110px;
    padding: 6px 16px;
}
.fullWidth {
    width: 100%;
}

// Button Icons
.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: inline-block;
    width: 18px;
}
