.wrapper {
    width: 100%;
    height: var(--header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--container-width);
    padding: 0 var(--horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper-search {
    position: relative;
    width: 361px;
}
.search {
    position: relative;
    width: 361px;
    height: 46px;
    border-radius: 92px;
    border: 1.5px solid transparent;
    overflow: hidden;
    display: flex;
    align-content: center;
    background-color: var(--bg-search-color);
    &-input {
        flex: 1;
        font-size: 1.6rem;
        padding: 0 16px;
        background-color: transparent;
        color: var(--text-color);
        caret-color: var(--primary-color);
        &:not(:placeholder-shown) ~ .search-btn {
            color: rgba(22, 24, 35, 0.75);
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 8px;
        right: 52px;
        z-index: 1;
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.34);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    &-status {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 62px;
        color: rgba(22, 24, 35, 0.34);
        font-size: 1.6rem;
        &-loading {
            display: none;
        }
        &-clear {
            display: none;
        }
    }
    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 14px;
        background-color: transparent;
        &:hover {
            cursor: pointer;
            background-color: rgba(22, 24, 35, 0.03);
        }
        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
    &-result {
        position: relative;
        width: 361px;
    }
    &-title {
        font-weight: 600;
        font-size: 1.4rem;
        color: rgba(22, 24, 35, 0.5);
        padding: 4px 16px;
    }
}

.actions {
    display: flex;
    align-items: center;
    &-btns {
        display: flex;
        align-items: center;
    }
    &-btn {
        background: transparent;
        padding: 4px 10px;
        margin: 0 0 0 10px;
        cursor: pointer;
        &:last-child {
            margin: 2px 10px 0 0;
        }
    }
}

.menu {
    padding: 4px 12px;
    margin: 0 12px;
    font-size: 1.8rem;
    background: transparent;
    cursor: pointer;
}

.avatar-user {
    display: flex;
    align-items: center;
    width: 34px;
    height: 34px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}
