.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: var(--header-height);
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--container-width);
    padding: 0 var(--horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: flex;
}
.actions {
    display: flex;
    align-items: center;
    &-btns {
        display: flex;
        align-items: center;
    }
    &-btn {
        background: transparent;
        padding: 4px 10px;
        margin: 0 0 0 10px;
        cursor: pointer;
        &:last-child {
            margin: 2px 10px 0 0;
        }
    }
}

.menu {
    padding: 4px 12px;
    margin: 0 12px;
    font-size: 1.8rem;
    background: transparent;
    cursor: pointer;
}

.avatar-user {
    display: flex;
    align-items: center;
    width: 34px;
    height: 34px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}
